doctype html
html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas+Neue:400|Chivo:300,300i,400i,400,700,700i,900,900i|Archivo+Black:400&amp;subset=latin,latin-ext")
        link(rel="stylesheet" href="css/tailwind/tailwind-theme.css")
        link(rel="icon" href="favicon.ico")
        link(rel="icon" type="image/png" sizes="16x16" href="favicon.png")
        script(src="js/main.js")
    body.bg-body.text-body.font-body
        .container.mx-auto.px-4


            nav(class="flex flex-wrap items-center justify-between p-4")
                div(class="flex flex-shrink-0 mr-10")
                    a(class="text-xl text-indigo-500 font-semibold", href="/index.html")
                        img(src="images/marca.png", alt="Art for the amazon", width="200")
                div(class="block lg:hidden")
                    button(class="navbar-burger flex items-center py-2 px-3 text-indigo-500 rounded border border-indigo-500")
                        svg(class="fill-current h-3 w-3", viewbox="0 0 20 20", xmlns="http://www.w3.org/2000/svg")
                            title Menu
                            path(d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z")
                div(class="navbar-menu hidden lg:flex lg:flex-grow lg:items-center w-full lg:w-auto")
                    div(class="lg:mr-auto")
                        a(class="block lg:inline-block mt-4 lg:mt-0 mr-10 text-blue-900 hover:text-blue-700", href="/about.html") ABOUT THE CAMPAIGN
                        a(class="block lg:inline-block mt-4 lg:mt-0 mr-10 text-blue-900 hover:text-blue-700", href="/index.html#artists") MEET THE ARTISTS
                        a(class="block lg:inline-block mt-4 lg:mt-0 mr-10 text-blue-900 hover:text-blue-700", href="#")
                        a(class="block lg:inline-block mt-4 lg:mt-0 text-blue-900 hover:text-blue-700", href="#")
                    div
                        a(class="block lg:inline-block mt-4 lg:mt-0 lg:mr-8 text-blue-900 hover:text-blue-700", href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=NGXGTVDPXHCJG") DONATE
                        a(class="inline-block py-3 px-6 mt-4 lg:mt-0 leading-none text-white bg-indigo-500 hover:bg-indigo-600 rounded shadow", href="/gallery.html") EXPLORE THE EXHIBITION


            section(class="py-12 px-4 text-center")
                h2(class="text-4xl mb-8 font-heading") El Arbol de la Vida
                div(class="max-w-2xl mx-auto")
                    img(class="rounded shadow-md", src="images/23.jpg", alt="")
                    div(class="text-center mt-8 mb-6")
                        button(class="inline-flex items-center justify-center h-3 w-3 mr-2 bg-gray-600 rounded-full")
                        button(class="inline-flex items-center justify-center h-3 w-3 mr-2 bg-gray-600 rounded-full")
                        button(class="inline-flex items-center justify-center h-3 w-3 mr-2 bg-gray-600 rounded-full")
                    div
                        h3(class="text-2xl mb-4 font-heading") Oil on leather 27&rdquo; x 39&rdquo; Inches
                        p(class="text-gray-500 leading-relaxed") Artist: Jaime Caicedo $2.000 USD
                    div(class="my-12")
                    form(action="https://www.paypal.com/cgi-bin/webscr", method="post", target="_top")
                        input(type="hidden", name="cmd", value="_s-xclick")
                        input(type="hidden", name="hosted_button_id", value="WJRGPK8R22GL2")
                        input(type="image", src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif", border="0", name="submit", alt="PayPal - The safer, easier way to pay online!")
                        img(alt="", border="0", src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif", width="1", height="1")


            footer
                div(class="flex flex-wrap items-center py-4 px-4 border-b")
                    div(class="w-full lg:w-1/5 text-center lg:text-left")
                        a(class="text-xl text-indigo-500 font-semibold", href="index.html")
                            img(src="images/marca.png", alt="ART FOR THE AMAZON", width="150")
                    div(class="w-full lg:w-3/5 mt-4 lg:mt-0 text-center")
                        a(class="inline-block mx-4 mb-4 lg:mb-0 text-blue-900 hover:text-blue-700", href="/about.html") About the Campaign
                        a(class="inline-block mx-4 mb-4 lg:mb-0 text-blue-900 hover:text-blue-700", href="/index.html#artists") Meet the Artists
                        a(class="inline-block mx-4 mb-4 lg:mb-0 text-blue-900 hover:text-blue-700", href="/gallery.html") Explore The Exhibition
                        a(class="inline-block mx-4 mb-4 lg:mb-0 text-blue-900 hover:text-blue-700", href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=NGXGTVDPXHCJG") Donate
                div(class="py-4 text-center")
                    span(class="block md:inline-block mb-4 md:mb-0 mx-3")  2020 Made with ❤ in Barranquilla
                    a(class="inline-block mx-4 text-blue-900 hover:text-blue-700", href="/about.html") Privacy Policy
                    a(class="inline-block mx-4 text-blue-900 hover:text-blue-700", href="mailto: vinculateporlaamazonia@gmail.com") Get our Email
